{% extends "base.html" %}

    {% block headtitle %}
    <title>
        Articles
    </title>
    {% endblock headtitle %}
    
    {% block maincontent %}
    <div class="col-xs-9">
    <h1 style="font-size: 36px; margin-left: 10%; margin-top: 10%;">
        Latest Article:
    </h1>
    <div style="background-color: white; border: 12px solid; padding: 30px; margin-left: 10%; height: 700px; overflow: scroll;">
        <h1>
            Conversations with Kids: Nutrition
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae iaculis ante. Vivamus auctor sed turpis 
            sed rutrum. Sed a libero eu est elementum luctus quis suscipit purus. In dignissim volutpat eros. Vivamus non 
            dui lacus. Vivamus gravida quam eget libero consequat, ut pretium massa sollicitudin. Nam eget sagittis turpis. 
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ac cursus 
            magna. Proin varius arcu enim, eget sollicitudin neque finibus sed. Quisque ac leo gravida, vehicula sapien non, 
            scelerisque nunc. Mauris viverra, enim ut gravida rutrum, felis sem hendrerit libero, eu pellentesque diam felis 
            et dui. Duis sollicitudin quam tellus, eu imperdiet justo finibus non. Pellentesque habitant morbi tristique 
            senectus et netus et malesuada fames ac turpis egestas. Maecenas a mattis magna.
        </p>
        <p>
            Etiam ut aliquet nunc. Duis pellentesque lobortis tortor, vel gravida dui. Mauris justo est, elementum sed 
            tincidunt sit amet, malesuada id tellus. Proin faucibus ultricies pellentesque. Vestibulum ante ipsum primis 
            in faucibus orci luctus et ultrices posuere cubilia Curae; Proin commodo dapibus magna et vehicula. Curabitur 
            pellentesque ultrices neque, ac lacinia metus fringilla eu. Nunc ac elementum ipsum, a lacinia orci. Sed a enim 
            rutrum, lacinia urna sit amet, porttitor magna. Donec lobortis ultrices nibh non tincidunt. Etiam cursus at quam 
            vel lobortis. Proin suscipit, eros et maximus fermentum, leo mi hendrerit purus, quis mattis est massa at nisl. 
            Phasellus at congue justo. Duis molestie turpis quis odio iaculis, vel dignissim tellus ultricies. In tincidunt, 
            tortor eu accumsan bibendum, orci nisl mollis metus, ut scelerisque risus ante eu ex.
        </p>
        <p>
            In vitae ipsum posuere urna varius pharetra in in sapien. Fusce congue, ante sit amet viverra tincidunt, nibh tortor 
            tempor elit, in pellentesque orci nisi venenatis sem. Phasellus id libero at enim hendrerit congue id et velit. Morbi 
            mattis orci vel ornare lacinia. Nullam ligula neque, iaculis ut lobortis eget, tincidunt a velit. Suspendisse commodo 
            gravida leo at ultricies. Morbi in ornare nisl. Praesent cursus dolor a mi blandit, ut semper eros sagittis. Cras volutpat 
            at elit ut viverra. Duis egestas nulla vel turpis cursus, in pulvinar elit sodales.
        </p>
        <p>
            Morbi interdum fringilla lectus vel pulvinar. Pellentesque porta mi eget lectus volutpat, sed sollicitudin est iaculis. 
            Nulla at volutpat dolor. Sed nec nisl placerat, rhoncus nisi ac, consequat ex. Ut ullamcorper tempus augue sed aliquet. 
            Nam pharetra quis lacus id viverra. Vestibulum non nisi a nisi luctus interdum. Nunc venenatis nisi lacus, quis dapibus 
            nisl hendrerit sed. Etiam volutpat nec massa sed posuere. Aliquam ac tincidunt felis, ut finibus nisl.
        </p>
        <p>
            Etiam congue tortor cursus ligula placerat fermentum. Nulla odio dolor, semper sit amet ultrices sed, porta at sem. 
            Phasellus fringilla malesuada fringilla. Morbi et velit id risus finibus egestas. In in fringilla ligula. Morbi diam 
            justo, porta quis turpis at, dapibus vulputate diam. Sed vitae tortor nec lacus luctus ornare. Sed nec bibendum risus. 
            Fusce in dictum mi. Donec ultrices lacus sit amet dolor semper, eget vulputate justo scelerisque. Curabitur mattis est 
            nec sem ultrices feugiat. Duis convallis risus iaculis neque condimentum, quis pulvinar velit dictum. Proin dictum maximus 
            massa, id pellentesque nisl cursus vitae. Nam hendrerit velit id nibh blandit, id finibus odio condimentum. Cras eu dolor at 
            dolor fringilla sagittis vitae ac massa. Etiam lacinia vulputate enim et scelerisque.
        </p>
        <p>
            Nunc consequat ultricies augue luctus convallis. Donec urna sapien, malesuada in lorem non, efficitur egestas diam. Duis 
            cursus ipsum nec scelerisque bibendum. Sed consequat purus est, ut luctus augue faucibus sit amet. Nulla sollicitudin est 
            ac lacus aliquet, et ornare purus sagittis. Mauris in libero facilisis velit eleifend commodo. Phasellus semper feugiat nisl 
            ac molestie. In ut justo nibh. Nullam placerat sapien id sagittis tincidunt. Cras gravida arcu quis enim euismod auctor.
        </p>
        <p>
            Integer ac molestie purus. Maecenas euismod, velit et auctor feugiat, purus nisi dapibus felis, a ultricies ex arcu at 
            ligula. Quisque et tortor purus. Suspendisse elementum ultrices tincidunt. Proin molestie ante ante, et fermentum nisi 
            iaculis vitae. Aenean a orci tempus, viverra augue non, imperdiet ipsum. Nunc velit tortor, eleifend non neque eu, feugiat 
            faucibus metus. Cras in purus nisi. Phasellus sit amet molestie erat, quis congue dui. Fusce imperdiet tempor diam, sit amet 
            euismod eros posuere eget. Nulla ex magna, congue a arcu ac, accumsan consequat eros.
        </p>
        <p>
            Aliquam eu tortor dictum est tristique volutpat et in lacus. Pellentesque pellentesque, odio id lacinia rutrum, neque est 
            ultricies est, a dictum lectus metus nec tortor. Duis eget congue tortor, in luctus metus. Nam fringilla, purus sit amet 
            mattis varius, urna diam eleifend lacus, at varius turpis turpis id velit. Interdum et malesuada fames ac ante ipsum primis 
            in faucibus. Curabitur lobortis nisi et arcu rutrum, ut tincidunt sapien dapibus. Integer eu lacus in tortor dictum aliquam.
        </p>
        <p>
            Mauris ac iaculis ante, at fringilla turpis. In lobortis urna at dictum lacinia. Vestibulum leo elit, vulputate vitae ante 
            ut, gravida facilisis ipsum. Nulla facilisi. Nullam ac lorem eget nulla pharetra lacinia. Aenean elit mauris, pellentesque ut 
            odio ac, porta tincidunt sapien. Praesent fermentum a nunc eget bibendum. Nulla eget enim sed nunc pharetra gravida in vitae 
            metus.
        </p>
        <p>
            Mauris dignissim ipsum non laoreet eleifend. Suspendisse facilisis bibendum enim in malesuada. In quis lacinia augue. In 
            blandit ante rhoncus, tincidunt nibh dapibus, suscipit lorem. Phasellus ullamcorper nisl sem, tristique lobortis dui 
            malesuada eu. Donec sit amet suscipit arcu, nec maximus eros. Sed tempus dui neque, id finibus ante euismod et. Cras 
            accumsan aliquam semper. Nullam pretium sagittis cursus. Nulla finibus elit mi, nec consequat dui hendrerit vitae. Mauris 
            et ornare diam, posuere blandit justo.
        </p>
        <p>
            Etiam nulla lacus, convallis at pellentesque a, suscipit eget lorem. Mauris quis fermentum nisl. Vivamus ex enim, 
            malesuada a mattis ut, gravida vel turpis. Curabitur malesuada urna nec convallis feugiat. Phasellus aliquet tortor 
            et quam aliquam interdum. Proin magna est, pellentesque ut finibus sed, vulputate nec elit. Nullam vehicula, lacus non 
            eleifend sagittis, neque ligula sagittis neque, non facilisis purus purus ut nibh. Proin urna nisi, dictum sed elementum 
            at, porta non metus. Duis feugiat eu mi sit amet luctus. Ut congue sem nec elit rhoncus imperdiet. Donec sodales, ipsum in 
            porttitor sagittis, nunc metus vehicula leo, id feugiat ex quam ac ipsum. Sed vehicula sed justo quis vehicula. Duis porttitor 
            pharetra ullamcorper.
        </p>
        <p>
            Vivamus vel velit urna. Proin volutpat turpis ut ornare cursus. Morbi sed mi at nisi ultricies finibus eu at diam. Nunc sem 
            lectus, rhoncus non erat ut, tincidunt viverra eros. Pellentesque bibendum nisi laoreet nunc imperdiet, bibendum fermentum 
            enim elementum. Quisque id aliquet dolor. Sed maximus diam vitae mollis dapibus. Vestibulum consectetur dapibus lacinia. 
            Phasellus egestas sollicitudin sapien, ac posuere ligula fermentum nec. Phasellus sit amet eros sit amet lectus gravida 
            bibendum. Aliquam vel orci ac arcu efficitur lobortis id elementum lectus.
        </p>
        <p>
            Etiam sed libero ante. In elementum tempus erat, nec elementum augue dictum eget. Donec vestibulum interdum faucibus. 
            Maecenas gravida eros non leo pellentesque accumsan. Aliquam erat volutpat. Mauris ac nisl libero. Vestibulum mattis, 
            velit id lacinia rhoncus, lectus mauris tincidunt ex, id tristique ante nunc nec nisl. Curabitur in posuere est. Quisque 
            dolor augue, tempor in turpis eget, pretium facilisis lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
            posuere cubilia Curae;
        </p>
        <p>
            Suspendisse semper volutpat massa ut semper. Nunc a imperdiet ex. Nulla ultricies nisi mauris, eu ultricies erat hendrerit 
            id. Pellentesque felis elit, aliquam id nisi sit amet, sodales maximus massa. Nulla dictum lacinia ante vel aliquet. Nulla 
            facilisi. Morbi ac felis in felis venenatis luctus in sit amet lectus. Cras hendrerit in ipsum sit amet ornare. Donec a 
            tincidunt eros. Integer vel egestas nibh.
        </p>
        <p>
            Fusce eleifend augue in turpis cursus, ac sagittis risus malesuada. Aenean elementum tincidunt elementum. Praesent sit 
            amet suscipit turpis. Phasellus ac odio volutpat, fringilla dolor at, facilisis tellus. Etiam blandit nibh vel risus 
            facilisis, at consequat mauris cursus. Nam finibus lorem et sodales vehicula. Cras at mattis ex. Nullam porttitor 
            scelerisque quam, at maximus sem rhoncus nec. Maecenas condimentum viverra nulla ut mollis. Duis ac facilisis mauris, 
            gravida suscipit libero. Maecenas ac malesuada metus. Vivamus auctor maximus fermentum. Pellentesque augue metus, 
            mattis nec nisl eget, placerat consequat leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
            cubilia Curae; Nullam at est ut massa ultrices bibendum ut et mi.
        </p>
    </div>
    </div>
    {% endblock maincontent %}