{% extends "base.html" %}
    
        {% block maincontent %}
        <!-- Large Buttons for entering site to appropriate pages -->
        <div class="col-xs-9" style="display: inline-block;">
            <a href="vendor.html">
            <div class="jumbotron pull-right" style="color: #2f4f4f; width: 40%; margin-top: 15%; text-align: center; border: 12px solid; border-radius: 10%; padding: 40px 0 40px 0; cursor: pointer;">
                <h1>
                    Vendors
                </h1>
                <p>
                    superstar partners please
                </p>
                <h2>
                    Enter Here
                </h2>
            </div>
            </a>
            <a href="user.html">
            <div class="jumbotron pull-right" style="color: #2f4f4f; width: 40%; margin-right: 10%; margin-top: 15%; text-align: center; border: 12px solid; border-radius: 10%; padding: 40px 0 40px 0; cursor: pointer;">
                <h1>
                    Customers
                </h1>
                <p>
                    valued customers please
                </p>
                <h2>
                    Enter Here
                </h2>
            </div>
            </a>
            <h1 style="font-size: 70px; margin-left: 10%">
                Welcome to LunchLadle
            </h1>
            <div style="background-color: white; color: darkslategray; border: 12px solid; padding: 30px; margin-left: 10%;">
                <h1>
                    Your way, wherever they may be.
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus elit id ante bibendum ullamcorper. 
                    Praesent aliquam sagittis est sed maximus. Nullam nec mattis velit, vitae pretium diam. Ut eget turpis a 
                    velit convallis imperdiet ac a quam. Aenean non vehicula libero, non mollis nunc. Fusce euismod quis dolor 
                    non hendrerit. Nulla luctus commodo sodales. Mauris nec nisi id nibh ultrices tempus in sed libero. Cras 
                    sapien dui, blandit vel justo sed, hendrerit sagittis ex.
                </p>
                <p>
                    Donec et egestas ligula. Nulla facilisi. Suspendisse auctor commodo egestas. Nulla facilisi. Nullam et nulla 
                    vel ante tincidunt imperdiet in id dolor. Donec tellus urna, accumsan vel tristique quis, porta non turpis. 
                    Aliquam erat volutpat. Aliquam ullamcorper tempus erat, at rhoncus tortor. Vestibulum vitae libero tellus.
                </p>
                <p>
                    Sed dolor nisl, pulvinar sit amet risus pulvinar, viverra laoreet enim. Vestibulum sagittis sapien mi, id 
                    efficitur tortor efficitur a. Suspendisse rhoncus lorem sed mattis volutpat. Aliquam nec iaculis purus, ut 
                    faucibus massa. Fusce bibendum lacus ut facilisis volutpat. Quisque sit amet mauris posuere, pulvinar est vel, 
                    tempus est. Quisque porttitor ornare mauris, eu fringilla dolor vehicula accumsan. Ut vel aliquet mi. Morbi 
                    egestas pulvinar mauris, id fermentum nulla tempus non. Phasellus nisi est, cursus a bibendum et, semper vel augue.
                </p>
            </div>
        </div>
        {% endblock maincontent %}